@model IEnumerable<Test3_Movie.Models.Movie>

@{
    ViewBag.Title = "MovieList";
}

<h2>MovieList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="~/Home/ShowAllMovies"><input type="button" value="Show All Movies" /></a>
</p>
<div class="search-genre-title">
    <form action="~/Home/SearchByGenreAndTitle" method="post">
        Genre
        <select name="S_Genre" size="1">
            <option value="all">all</option>
            @{
                var genres = new List<string>();
                foreach (var m in Model)
                {
                    if (!genres.Contains(@m.Genre))
                    {
                        <option value=@m.Genre>@m.Genre</option>
                        genres.Add(@m.Genre);
                    }

                }
            }
            
        </select>
        Title<input name="S_Title" /><input type="submit" value="Search" />
    </form>
</div>
<div class="search-released">
    <form action="~/Home/SearchByReleased" method="post">
        <input type="radio" name="S_Released" value="true" checked="checked" />Released&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="S_Released" value="false" />Unreleased&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Search" />
    </form>
</div>
<div class="search-price">
    <form action="~/Home/SearchByPrice" method="post">
        Price >= <input type="number" name="S_MinPrice" /> and <= <input type="number" name="S_MaxPrice" />
        <input type="submit" value="Search" />
    </form>
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
