@model IEnumerable<Test3_Movie.Models.Movie>

@{
    ViewBag.Title = "MovieList";
}
<h2>MovieList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="~/Home/ShowAllMovies"><input type="button" value="Show All Movies" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/Back"><input type="button" value="Back" /></a>
</p>
<div class="search">
    <form action="~/Home/Search" method="post">
        <div class="search-genre-title">
            Genre
            <select name="S_Genre" size="1">
                <option value="all">all</option>
                @{
                    var genres = new List<string>();
                    foreach (var m in Model)
                    {
                        if (!genres.Contains(@m.Genre))
                        {
                            <option value=@m.Genre>@m.Genre</option>
                            genres.Add(@m.Genre);
                        }

                    }
                }
            </select>&nbsp;
            Title<input id="S_Title" name="S_Title" />
        </div>
        <div class="search-released">
            <input type="radio" name="S_Released" value="0" />All&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="S_Released" value="1" />Released&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="S_Released" value="-1" />Unreleased
        </div>
        <div class="search-price">
            Price&nbsp;
            <select id="S_IncludeMin" name="S_IncludeMin" size="1">
                <option value="true">>=</option>
                <option value="false">></option>
            </select>&nbsp;
            <input type="number" step="0.01" name="S_MinPrice" /> and&nbsp;
            <select id="S_IncludeMax" name="S_IncludeMax" size="1">
                <option value="true"><=</option>
                <option value="false"><</option>
            </select>&nbsp;
            <input type="number" step="0.01" name="S_MaxPrice" />
        </div>
        <input type="submit" value="Search" />
    </form>
</div>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            @{
                var input = (Test3_Movie.Models.SearchInput)ViewData["Input"];
            }
            $(".search-genre-title").find("option[value='@input.genre']").attr("selected", "selected");
            $("#S_Title").focusin(function () {
                $(this).select();
            }).attr("value", "@input.title");
            $(".search-released").find("input[value='@input.released']").attr("checked", "checked");
            $("#S_IncludeMin").find("option[value='@input.includeMin.ToString().ToLower()']")
                .attr("selected", "selected");
            $("#S_IncludeMax").find("option[value='@input.includeMax.ToString().ToLower()']")
                .attr("selected", "selected");
            $("input[name='S_MinPrice']").focusin(function () {
                $(this).select();
            }).attr("value", "@input.validMin" == "True" ? "@input.minPrice" : "");
            $("input[name='S_MaxPrice']").focusin(function () {
                $(this).select();
            }).attr("value", "@input.validMax" == "True" ? "@input.maxPrice" : "");
        });
    </script>
}